<!--<div>-->
  <!--<button (click)="follow()">关注</button>-->
  <!--<input type="button" value="点击" (click)="goPage()">-->
<!--</div>-->

<dl>
  <dt><img src="{{commoditylist.imgUrl}}" alt=""></dt>
  <dd>
    <h5>{{commoditylist.name}}</h5>
    <p class="price">￥{{commoditylist.price}}</p>
    <p><label>免运费</label><label>1432人付款</label><label>上海</label></p>
  </dd>
</dl>
<img src="../../assets/img/icon1.jpg" alt="">
<img src="../../assets/img/icon2.jpg" alt="">
<img src="../../assets/img/icon3.jpg" alt="">
